{{define "title"}}Home{{end}}

{{define "main"}}
<main class="">
  <section class="bg-gray-50">
    <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
      <div class="mx-auto max-w-xl text-center">
        <h1 class="text-3xl font-extrabold sm:text-5xl">
          Find out what interests you.
          <strong class="font-extrabold text-teal-700 sm:block">Develop your
            skills.</strong>
        </h1>

        <p class="mt-4 sm:text-xl/relaxed">
        Start or advance your development journey with our tutorials, carefully designed to help you expand your
        knowledge.
        </p>

        <div class="mt-8 flex flex-wrap justify-center gap-4">
          <a
            class="block w-full rounded bg-teal-600 px-12 py-3 text-sm font-medium
            text-white shadow hover:bg-teal-700 focus:outline-none focus:ring
            active:bg-teal-500 sm:w-auto"
            href="/register"
            >
            Get Started
          </a>

            <a
              class="block w-full rounded px-12 py-3 text-sm font-medium
              text-teal-600 shadow hover:text-teal-700 focus:outline-none focus:ring
              active:text-teal-500 sm:w-auto"
              href="#"
              >
              Learn More
            </a>
        </div>
      </div>
    </div>
  </section>

  <section class="mx-auto my-10 max-w-screen-xl px-4 sm:px-6 md:grid md:grid-cols-2
    md:gap-4 lg:grid-cols-3 lg:px-8">
    {{if .Tutorials}}
    {{range .Tutorials}}
    <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
      <img alt="video thumbnail" src="{{.Thumbnail}}" class="h-56 w-full object-cover" />

      <div class="bg-white p-4 sm:p-6">
        <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>

        <a href="/tutorial/{{.ID}}">
          <h3 class="mt-0.5 text-lg text-gray-900">{{.Title}}</h3>
        </a>

        <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">{{.Description}}</p>
      </div>
    </article>
    {{end}}
    {{else}}
    <p>Tutorials are not available...</p>
    {{end}}
  </section>

  <section>
    <div class="py-14">
      <div class="max-w-screen-xl mx-auto px-4 text-gray-600 md:px-8">
        <div class="max-w-lg mx-auto gap-12 justify-between lg:flex lg:max-w-none">
          <div class="max-w-lg space-y-3">
            <h3 class="text-teal-600 font-semibold">Contact</h3>
            <p class="text-gray-800 text-3xl font-semibold sm:text-4xl">
            Let us know how we can help
            </p>
            <p>
            We’re here to help and answer any question you might have, We
            look forward to hearing from you! Please fill out the form, or
            us the contact information bellow.
            </p>
            <div>
              <ul class="mt-6 flex flex-wrap gap-x-10 gap-y-6 items-center">
                <template
                  x-for="(item, index) in contactMethods"
                  :key="index"
                  >
                  <li class="flex items-center gap-x-3">
                    <div
                      class="flex-none text-gray-400"
                      x-html="item.icon"
                      ></div>
                    <p x-text="item.contact"></p>
                  </li>
                </template>
              </ul>
            </div>
          </div>
          <div class="flex-1 mt-12 sm:max-w-lg lg:max-w-md">
            <form @submit.prevent class="space-y-5">
              <div>
                <label class="font-medium"> Full name </label>
                <input
                type="text"
                required
                class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent
                outline-none border focus:border-teal-600 shadow-sm rounded-lg"
                />
              </div>
              <div>
                <label class="font-medium"> Email </label>
                <input
                type="email"
                required
                class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent
                outline-none border focus:border-teal-600 shadow-sm rounded-lg"
                />
              </div>
              <div>
                <label class="font-medium"> Company </label>
                <input
                type="text"
                required
                class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent
                outline-none border focus:border-teal-600 shadow-sm rounded-lg"
                />
              </div>
              <div>
                <label class="font-medium"> Message </label>
                <textarea
                  required
                  class="w-full mt-2 h-36 px-3 py-2 resize-none appearance-none
                  bg-transparent outline-none border focus:border-teal-600 shadow-sm rounded-lg"
                  ></textarea>
              </div>
              <button class="w-full px-4 py-2 text-white font-medium bg-teal-600 hover:bg-teal-500 active:bg-teal-600 rounded-lg duration-150">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{{end}}
