{{define "title"}}Register{{end}}

{{define "main"}}

<main class="bg-white mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
  <div class="lg:grid lg:min-h-screen lg:grid-cols-12">

    <div
      class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6"
      >
      <div class="max-w-xl lg:max-w-3xl">
        <h1 class="mt-6 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl">
          Welcome to 2torial
        </h1>

        <p class="mt-4 leading-relaxed text-gray-500">Begin your personal growth
        journey.</p>

        <form  id="register-form" class="mt-8 grid grid-cols-6 gap-6">
          <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
          <div class="col-span-6">

            <label for="full-name" class="block text-sm font-medium text-gray-700">
              Full name
            </label>

            <input
            name="full_name" id="full-name" placeholder="Full name"
            class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
            />
          </div>

          <div class="col-span-6">

            <label for="username" class="block text-sm font-medium text-gray-700">
              Username
            </label>

            <input
            name="username" id="username" placeholder="Username"
            class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
            />
          </div>

          <div class="col-span-6">
            <label for="Email" class="block text-sm font-medium text-gray-700"> Email </label>

            <input
            type="email"
            id="Email"
            name="email"
            class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="Password" class="block text-sm font-medium text-gray-700"> Password </label>

            <input
            type="password"
            id="Password"
            name="password"
            class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="PasswordConfirmation" class="block text-sm font-medium text-gray-700">
              Password Confirmation
            </label>

            <input
            type="password"
            id="PasswordConfirmation"
            name="password_confirmation"
            class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
            />
          </div>

          <div class="col-span-6">
            <p class="text-red-500" id="error-message"></p>
          </div>

          <div class="col-span-6">
            <label for="MarketingAccept" class="flex gap-4">
              <input
              type="checkbox"
              id="MarketingAccept"
              name="marketing_accept"
              class="size-5 rounded-md border-gray-200 bg-white shadow-sm"
              />

              <span class="text-sm text-gray-700">
                I want to receive emails about events, product updates and company announcements.
              </span>
            </label>
          </div>

          <div class="col-span-6">
            <p class="text-sm text-gray-500">
            By creating an account, you agree to our
            <a href="#" class="text-gray-700 underline"> terms and conditions </a>
            and
            <a href="#" class="text-gray-700 underline">privacy policy</a>.
            </p>
          </div>

          <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
            <button
              type="submit"
              class="inline-block shrink-0 rounded-md border border-teal-600
              bg-teal-600 px-12 py-3 text-sm font-medium text-white transition
              hover:bg-transparent hover:text-teal-600 focus:outline-none
              focus:ring active:text-teal-500"
              >
              Create an account
            </button>

              <p class="mt-4 text-sm text-gray-500 sm:mt-0">
              Already have an account?
              <a href="/login" class="text-gray-700 underline">Log in</a>.
              </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{{end}}
