{{define "title"}}{{.Title}}{{end}}

{{define "main"}}
<main>
  <video
    id="video-player"
    class="video-js video-player"
    poster="{{.Thumbnail}}">
    <source src="{{.URL}}" type="application/x-mpegURL" />
  </video>

  <div class="video-metadata container">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>

  <script src="https://vjs.zencdn.net/8.5.2/video.min.js"></script>
  <script>
    const options = {
      controls: true,
      controlBar: {
        skipButtons: {
          forward: 10,
          backward: 10
        }
      },
      suppressNotSupportedError: true,
      preferFullWindow: true,
      playbackRates: [0.5, 1, 1.5, 2],
      preload: 'none'
    };
    const player = videojs("video-player", options);
  </script>
</main>
{{end}}
