{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{template "title" .}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com" defer></script>
    <link href="https://vjs.zencdn.net/8.5.2/video-js.css" rel="stylesheet" />
    <script src="/static/js/app.js" defer></script>
  </head>
  <body>
    {{template "header" .}}
    {{template "main" .}}
    {{template "footer" .}}
  </body>
</html>
{{end}}
