{{define "title"}}Video upload{{end}}

{{define "main"}}
<main class="bg-white mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 text-gray-700">
  <form id="upload-form" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
    <h1 class="mt-6 text-2xl text-center font-bold sm:text-3xl md:text-4xl">
      Upload a video
    </h1>
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

    <div>
      <label for="title" class="sr-only">Title</label>
      <div class="relative">
        <input name="title" id="title" type="text"
        class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
        placeholder="Title" />

        <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
        </span>
      </div>
    </div>

    <div class="relative">
      <label for="description" class="sr-only">Description</label>
      <textarea id="description" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" rows="4" placeholder="Description"></textarea>
    </div>

    <div class="rounded-lg overflow-hidden">
      <label for="video">Video</label>
      <input name="video" id="video" type="file"
      class="block w-full text-sm text-slate-500
      file:mr-4 file:py-2 file:px-4
      file:rounded-full file:border-1
      file:border-teal-600
      file:text-sm file:font-semibold
      file:bg-transparent file:text-teal-600
      hover:file:bg-teal-600 hover:file:text-white"
      placeholder="Video" />
    </div>

    <div class="rounded-lg overflow-hidden">
      <label for="thumbnail">Thumbnail</label>
      <input name="thumbnail" id="thumbnail" type="file"
      class="block w-full text-sm text-slate-500
      file:mr-4 file:py-2 file:px-4
      file:rounded-full file:border-1
      file:border-teal-600
      file:text-sm file:font-semibold
      file:bg-transparent file:text-teal-600
      hover:file:bg-teal-600 hover:file:text-white"
      placeholder="Thumbnail" />
    </div>

    <p class="text-red-500" id="error-message"></p>

    <div class="flex items-center justify-between">
      <button type="submit" class="inline-block rounded-lg bg-teal-600 px-5 py-3
        text-sm font-medium text-white">Upload</button>
    </div>

  </form>
</main>
{{end}}
