:root {
  --color-black: #002B2E;
  --color-white: #f3f3f3;
  --color-accent: #FF8A44;
  --color-lightblue: #E6F4F1;
  --color-blue: #679598;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
}

button {
  background: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}
