/* 
HEADER
*/
header.page-header {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 1rem .5rem;
}

header.page-header .logo {
  font-size: 1.5rem;
}

header.page-header .logo span {
  font-weight: bold;
  color: var(--color-accent);
}

.top-nav {
  font-size: 1.2rem;
}

.top-nav a {
  margin: 0 .3rem;
  padding: .3rem;
}

.top-nav a:hover {
  border-bottom: 2px solid var(--color-blue);
}

/*
FOOTER
*/
footer.page-footer {
  padding: 2rem 0;
  background-color: var(--color-black);
  color: var(--color-white);
}

footer.page-footer .social-media {
  margin-bottom: 1rem;
}

footer.page-footer .social-media a {
  margin: 0 .5rem;
}

/*
LOGIN & REGISTER FORMS
*/
main.login h1,
main.register h1,
main.upload-form h1 {
  margin: 1rem 0;
  text-align: center;
}

main.login form {
  padding: 20rem 0;
}

main.register form {
  padding: 15rem 0;
}

main.upload-form form {
  padding: 15rem 0;
  max-width: 25rem;
}

main.upload-form form .input #description {
  font-size: 1rem;
  padding: .5rem .8rem;
  background: none;
  resize: vertical;
  border: 1px solid black;
  border-radius: .2rem;
}

main.login form > button:hover,
main.register form > button:hover,
main.upload-form form > button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

main.login form .input-box button,
main.register form .input button {
  top: 45%;
  right: .5rem;
  cursor: pointer;
  background: white;
}

main.login form p,
main.register form p{
  padding: .5rem 0;
  max-width: 21rem;
  color: tomato;
}

main.login form .forgot-password {
  align-self: flex-end;
  opacity: .8;
}

/* Homepage */
.hero-section {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(230,244,241,1) 54%, rgba(103,149,152,1) 100%);
  padding: 13rem 0;
}

.hero-section .container {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.hero-section .container .left p {
  font-size: 1.8rem;
  color: var(--color-black);
  font-weight: 600;
}

.hero-section .left .join-now {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem 0;
  padding: 1rem 2rem;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: .2em;
  box-shadow: #000036 1px 1px .4rem;
}

.hero-section .left .join-now:hover {
  box-shadow: #000036 2px 2px .6rem;
}

.hero-section .container .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* courses section */
.courses-section {
  padding: 2rem 0;
}

.courses-section .container {
  padding: 0 1rem;
}

.courses-section .cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  border-radius: .5em;
  overflow: hidden;
  box-shadow: #d6d6d6 0 0 .5rem;
}

.card .thumbnail {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.card .about {
  padding: .5rem 1rem;
}

.contact-section {
  background-color: #eee;
  padding: 3rem 1rem;
}

.contact-section .container {
  display: grid;
  row-gap: 1rem;
  column-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.contact-section h1 {
  grid-column: 1/3;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
}

.contact-form textarea {
  resize: none;
}

/* VIDEO PLAYER */
.video-player {
  width: 100%;
  height: 30rem;
}

.video-metadata {
  padding: 2rem 1rem;
}
