.container {
  max-width: 65rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.section-heading {
  text-transform: capitalize;
  font-size: 2rem;
}

.submit-btn {
  font-size: 1.1rem;
  margin: .8rem 0;
  padding: .5rem 0;
  border: 1px solid #000;
  border-radius: .2rem;
}

.submit-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.input-box {
  margin: .4rem 0;
  display: flex;
  flex-direction: column;
}

.input-box input,
.input-box textarea {
  font-size: 1.1rem;
  padding: .5rem .8rem;
  background: transparent;
  border: 1px solid black;
  border-radius: .2rem;
}
